<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="IV.Pages.Site" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="Content" runat="server" />
    </div>
    </form>
</body>
</html>
